flask-sqlalchemy==2.2
flask==2.3.2
dependency-injector
flask-restplus==0.10.1
flask_caching
flask-migrate==2.1
flask_script
flake8
contextlib2
gunicorn
faker
pytest-mock
pytest-env
pytest
bandit
pysqlite3
